services:
  cutie-logs:
    build: .
    ports:
      - "8080:8080"
      - "4318:4318"
    environment:
      - CUTIE_LOGS_DATABASE_URL=postgresql://postgres:password@postgres:5432/postgres
      - CUTIE_LOGS_WEB_ADDRESS=0.0.0.0:8080
      - CUTIE_LOGS_SELF_INGEST=1
      - SPDLOG_LEVEL=trace
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "password"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 2s
      timeout: 5s
      retries: 10
